@model System.Diagnostics.Process

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @this.Model.ProcessName
        @this.Model.StartTime
    </div>
</body>
</html>
