@model List<System.Diagnostics.Process>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var process in this.Model) 
            {
            <li>@Html.ActionLink(process.ProcessName,"Details",new{id=process.Id})</li>
            }
        </ul>
        
    </div>
</body>
</html>
